body{
	height: 760px;
	max-width:600px;
	width: %80;
	border:25px solid 	#DCDCDC;
	margin:auto;
}

h2{
	font-size: 28px; 
	font-family: 'Raleway'; 
	margin-left:15px;
}

h4{
	font-family: 'Raleway';
	margin-left: 15px;
}

p:nth-of-type(1){
	border-left: 5px solid #DCDCDC;
}

p{
	margin-left: 15px;
}

p:nth-of-type(3){
	border-bottom: 3px solid 	#FFF0F5;
	padding-bottom: 10px;

}



